# Dependencies
node_modules/
package-lock.json

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr

# Database files (Local history)
database.db
*.sqlite
*.db-journal

# MacOS system files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Production/Build folders
dist/
build/